.cost {
  background-color: #F4F4F4;

  .container {
    padding: 20px 24px;
    max-width: 700px;
    min-width: 400px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: #F4F4F4;
    margin: 0 auto;

    .shopList {
      background-color: white;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      justify-self: stretch;
      overflow-y: scroll;
      padding: 0 40px;

      .shopCategory {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-around;
        font-size: 14px;
        padding: 8px 0;
        border-bottom: 1px solid #E4E4E4;

        .itemName {
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .itemPrice,
        .itemTotalPrice {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .totalCount,
        .itemCount {
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .shopItem {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-around;
        font-size: 12px;
        padding: 8px 0;
        border-bottom: 1px solid #F4F4F4;

        .shopInfo {
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: stretch;
          height: 90px;
          gap: 16px;

          .shopImage {
            img {
              width: 60px;
              height: 70px;
              object-fit: cover;
            }
          }

          .shopDetail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            width: 50px;

            .shopName {
              font-weight: 600;
            }

            .shopType,
            .shopFrom {
              font-size: 12px;
              font-weight: 200;
            }
          }
        }

        .shopPrice,
        .shopTotalPrice {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: stretch;
        }

        .shopID {
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: stretch;
          gap: 4px;
        }

        .countControl {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          align-self: stretch;

          button {
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 12px;
            background-color: #E4E4E4;
          }

          .shopCount {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            gap: 4px;

            button {
              border: none;
              cursor: pointer;
              background-color: #E4E4E4;
              font-size: 12px;
            }
          }
        }
      }
    }

    .deliver {
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      align-self: stretch;

      .deliverAddress {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 16px;
        margin: 40px 40px 0 40px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EEE;

        .label {
          font-size: 18px;
          font-weight: 500;
        }

        .deliverDetail {
          display: flex;
          gap: 16px;
          align-items: center;
          align-self: stretch;

          .deliverCategory {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 14px;
            gap: 8px;
            width: 60px;
          }

          .customerCategory {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 14px;
            gap: 8px;
            flex: 1 0 0;
          }
        }
      }

      .deliverMethod {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 16px;
        margin: 20px 40px 40px 40px;

        .label {
          font-size: 18px;
          font-weight: 500;
        }

        .deliverList {
          display: flex;
          gap: 16px;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-evenly;
          margin-top: -16px;

          .whatType {
            width: 100%;

            .deliverMethodType {
              visibility: hidden;

              &:checked~.radioDiv {
                border: 1px solid #222;
                border-radius: 5px;
              }
            }

            .radioDiv {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              border: 1px solid #E4E4E4;
              margin: 5px;
              border-radius: 5px;
              cursor: pointer;
              gap: 16px;
              padding: 8px;

              .type {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                border: none;
                gap: 8px;

                .deliverTitle {
                  font-size: 14px;
                  border: none;
                  font-weight: 600;
                }

                .deliverPrice {
                  font-size: 13px;
                  border: none;
                }
              }

              .typeDetail {
                font-size: 13px;
                font-weight: 200;
              }
            }
          }
        }
      }
    }

    .discount {
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      align-self: stretch;
      padding: 40px;
      gap: 16px;

      .label {
        font-size: 18px;
        font-weight: 500;
      }

      .coupon,
      .point {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        font-size: 16px;
        gap: 8px;

        .couponDetail,
        .pointDetail {
          display: flex;
          align-items: center;
          align-self: stretch;
          gap: 8px;

          input {
            display: flex;
            align-items: center;
            align-self: stretch;
            flex: 1 0 0;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #EEE;
            padding: 14px 12px 14px 12px;
          }

          button {
            display: flex;
            align-items: center;
            height: 25px;
            justify-content: center;
            font-size: 12px;
            border: none;
            border-radius: 12px;
            background-color: #E4E4E4;
            color: black;
            cursor: pointer;
          }
        }
      }
    }

    .payment {
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      align-self: stretch;
      padding: 40px;
      gap: 16px;

      .label {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .order {
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      align-self: stretch;
      padding: 40px;
      gap: 16px;

      .label {
        font-size: 18px;
        font-weight: 700;
      }

      .orderPrice {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        font-size: 16px;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 700;
      }

      .orderDelivery {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        font-size: 16px;
        justify-content: space-between;
        font-size: 14px;
      }

      .orderCoupon {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        font-size: 16px;
        justify-content: space-between;
        font-size: 14px;
      }

      .orderPoint {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        font-size: 16px;
        justify-content: space-between;
        font-size: 14px;
      }
    }

    .terms {
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      align-self: stretch;
      padding: 40px;
      gap: 16px;

      .finalPrice {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;

        .totalPriceTab {
          font-size: 16px;
          font-weight: 600;
        }

        .totalPrice {
          font-size: 18px;
          color: red;
          font-weight: 800;
        }
      }

      .payBtn {
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        height: 50px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        margin-top: 16px;
        color: white;
        background-color: #222;
        font-weight: 800;
        cursor: pointer;
      }
    }
  }
}