.Detail {
  .imageContainer {
    position: fixed;
    top: 116px;
    width: 323px;
  }
  .productDetailImg {
    left: 50%;
    position: absolute;
    top: 50%;
  }
  .productContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    overflow: hidden;
    padding: 30px 40px 120px;
    .columnLeft {
      float: right;
      padding-left: 3.334%;
      position: relative;
      width: 50%;
      padding: 20px 16px;
    }

    .columnContainer {
      display: block;

      .priceInfo {
        font-size: 13px;
      }
      .productPriceDetail {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.1px;
        margin-top: 2px;
      }
      .nameContentWrapper {
        margin-bottom: 20px;
        margin-top: 20px;
        .productNameDetail {
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 4px;
        }
        .productContentDetail,
        .additionalDetail {
          color: #727272;
          font-size: 13px;
          letter-spacing: -0.15px;
          line-height: 17px;
        }
      }
    }
    .productFigure {
      margin: 0px;
      border: 0px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      height: 40px;
      .quantityValue {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        margin: 20px 5px;
        align-items: center;
        padding: 11px 8px 11px 10px;
      }
      .decreaseButton,
      .increaseButton {
        background-color: white;
        border: 0;
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
    }

    .buttonWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      align-self: stretch;
      flex-direction: column;
      .purchaseButton,
      .bookmarkButton {
        align-self: stretch;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        display: flex;
        margin: 5px 0;
        padding: 11px 8px 11px 10px;
        font-size: 16px;
        font-weight: 800;
        height: 60px;
        letter-spacing: -0.09px;
      }
      .purchaseButton {
        background-color: #222;
        color: white;
        border: 0px;
      }
      .bookmarkButton {
        background-color: white;
        color: black;
        border: 0.8px solid #d3d3d3;
      }
    }
    hr {
      border: 0px;
      border-top: 0.8px solid #d3d3d3;
    }

    .shipmentInfoContainer {
      padding-top: 11px;
      padding-bottom: 11px;
      .shipmentInfo {
        display: block;
        margin-block-start: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .deliveryWrapper,
      .quickWrapper,
      .pickUpWrapper {
        align-items: right;
        display: flex;
        width: 100%;
        flex-direction: column;

        .deliveryDetail {
          display: flex;
          align-items: column;
          color: rgba(34, 34, 34, 0.5);
          font-size: 12px;
          height: 14px;
          letter-spacing: -0.06px;
          line-height: 14px;
          margin-top: 4px;
        }
      }
      .deliveryTitle {
        align-items: center;
        display: flex;
        align-items: column;
        height: 16px;
        line-height: 16px;
        margin-block-start: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        .deliveryOption,
        .deliveryQuick,
        .pickUp {
          font-weight: 600;
          margin-right: 4px;
        }
      }
    }

    .brandInfoWrapper {
      align-items: center;
      border-top: 0.8px solid #d3d3d3;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      padding: 20px 16px 0;
      .brandInfoOrigin {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.16px;
      }
      .brandInfoKor {
        display: flex;
        flex-direction: column;
        color: 727272;
        font-size: 12px;
        letter-spacing: -0.06px;
        margin-top: 2px;
      }
    }
  }
}
